
<h2>Songs</h2>
<%= render 'layouts/jplayer' %>
<table class="table table-striped">
	<thead>
		<th></th>
		<th>Artist</th>
		<th>Title</th>
		<th>Genre</th>
	</thead>
	<tbody>
		<tr>
			<%= render @songs %>
		</tr>
	</tbody>
</table>
<%= link_to 'Add Song', create_path %>